<!DOCTYPE html>
<html>
  <style>
    body {
       background-image: url('whipped.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }
    </style>
         <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="css/did_log_in.css">
<link rel="stylesheet" type="text/css" href="css/sign_up.css">
<link rel="stylesheet" type="text/css" href="css/landing.css">
<script>
  function openSlideMenu(){
    document.getElementById('menu').style.width = '250px';
    document.getElementById('content').style.marginLeft = '250px';
  }
  function closeSlideMenu(){
    document.getElementById('menu').style.width = '0';
    document.getElementById('content').style.marginLeft = '0';
  }
</script>
<body>
<p class="pointer">
<img id="Polar" src="/polar-coffee-logo-white-400px_tag.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px" padding: 30px;>
</p>
<link rel="stylesheet" type="text/css" href="css/sign_up.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
     
  
  
  
  <body>
     <div id="content">

    <span class="slide">
      <a href="#" onclick="openSlideMenu()">
        <i class="fas fa-bars"></i>
      </a>
    </span>

    <div id="menu" class="nav">
      <a href="#" class="close" onclick="closeSlideMenu()">
        <i class="fas fa-times"></i>
      </a>
      <a href="http://polarcoffee.org">Home</a>
      <a href="http://polarcoffee.org/about">About</a>
      <a href="http://polarcoffee.org/features">Features</a>
      <a href="http://polarcoffee.org/pricing">Pricing</a>
      <a href="http://polarcoffee.org/sign_up">Sign Up</a>
      <a href="http://polarcoffee.org/login">Login</a>
      <a href="http://polarcoffee.org/metrics">Metrics</a>
    </div>
  </div>
   </body>
  
  
  
<script>
document.getElementById("Polar").onclick = function() {
    window.location.href = "http://polarcoffee.org";
};
  </script>

<script>
  function portal() {
    window.location.href ="http://polarcoffee.org/sign_up";
  }

</script>






  <body>
  <form action="/post_login" method="POST">
    <div class="container">
      {% if error %}
      <p> {{ error }} </p>
      {% endif %}
      <h1 align='center'>Polar Coffee</h1 al>
      <hr>
      <label for="Email"><b style="color: #ffffff;">Email</b></label>
      <br />
      <input type="text" placeholder="Enter Email" name="Email" id = "Email" required>
      <br />
      <label for="Password"><b style="color: #ffffff;">Password</b></label>
      <br />
      <input type="Password" placeholder="Enter Password" name="Password" id = "Password" required>
      </hr>

      <div class="w3-container">
        <p align='center'> <button class="w3-button w3-round-xxlarge w3-black" type = "submit">Log In</button></p>
        <p align='center'> <button class="w3-button w3-round-xxlarge w3-gray" onclick= "portal()">Sign Up</button></p>  
      </div>
    </div>
  </form>
</body>
<p>&nbsp;</p> 
<p>&nbsp;</p>
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<p>&nbsp;</p> 

  <hr>
  <center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
      <th class="pointer"><img id="Bottom" src="/polar-coffee-logo-square-300px.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px";></th>
<script>
document.getElementById("Bottom").onclick = function() {
    window.location.href = "http://polarcoffee.org";
};
  </script>
    </tr>
    <tr>
      <td><em>How you want it, when you want it.</em></td>
    </tr>
    <th>Polar Coffee, Ltd.<br />
      123 Main Street<br />
      Anytown, CA 92336<br />
      Tel (909) 555-5555</th>
    </tr>
  </table></center>
  <hr />
  <p><span style ="color: #000000;"> © Polar Coffee 2020. All rights reserved.</span></p>
</body>
</html>
