<!DOCTYPE html>
<html>
<style>
body {
   background-image: url('whipped.jpg'); 
   background-repeat: no-repeat;
   background-size: cover; 
   background-attachment: fixed;
}
</style>
   
   
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="css/landing.css">
<script>
  function openSlideMenu(){
    document.getElementById('menu').style.width = '250px';
    document.getElementById('content').style.marginLeft = '250px';
  }
  function closeSlideMenu(){
    document.getElementById('menu').style.width = '0';
    document.getElementById('content').style.marginLeft = '0';
  }
</script>
   
<link rel="stylesheet" type="text/css" href="css/features.css">
<head>
<style>
#rounded_button {
border-radius: 5px;
  border: 2px solid #999999;
  padding: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  background-color: none;
  color: #333333;
  vertical-align: middle;
}
</style>
</head>
<body>
<p class="pointer">
<img id="Polar" src="/polar-coffee-logo-white-400px_tag.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px" padding: 30px;>
</p>
   
   
      <body>
     <div id="content">

    <span class="slide">
      <a href="#" onclick="openSlideMenu()">
        <i class="fas fa-bars"></i>
      </a>
    </span>

    <div id="menu" class="nav">
      <a href="#" class="close" onclick="closeSlideMenu()">
        <i class="fas fa-times"></i>
      </a>
      <a href="http://polarcoffee.org">Home</a>
      <a href="http://polarcoffee.org/about">About</a>
      <a href="http://polarcoffee.org/features">Features</a>
      <a href="http://polarcoffee.org/pricing">Pricing</a>
      <a href="http://polarcoffee.org/sign_up">Sign Up</a>
      <a href="http://polarcoffee.org/login">Login</a>
      <a href="http://polarcoffee.org/metrics">Metrics</a>
    </div>
  </div>
   </body>   
   
   

   
<script>
document.getElementById("Polar").onclick = function() {
    window.location.href = "http://polarcoffee.org";
};
  </script>
<div class="custom" >
<center> 
<p><span style="font-family: Helvetica; font-size: 4.5em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; text-transform: uppercase; font-weight: 300;">Be a part of the movement.</span></p> 
</center><center> 
   
   
   
   
      <script>
         function spotify(){
            window.location.href = "/spotify";
         }
(function(){
    let post_URL = "http://polarcoffee.org/get_playlists"
    let request = {};

    fetch (post_URL,
    {
        method: "POST",
        body: JSON.stringify(request)
    })

    .then(response=>response.json())
    .then((response) =>{
        console.log("Response Received")
        console.log(response)
        console.log(response["items"][0]["added_at"])
        document.getElementById("playlistInfo").innerHTML = response["items"][0]["album"]["name"];
    })

    .catch((error)=>{
        console.log("Error");
        console.error(error);
    })
setTimeout(arguments.callee, 60000);
})();
   </script>
   
   
   
   
   <p><span style="font-family: Helvetica; font-size: 2.0em; text-shadow: 1px 1px #000000; color: #ffffff; line-height: 1.3; text-transform: lowercase; font-weight: 300;">
   Keep up with polar coffee. Join the club.</span></p> 
   <p><span style="font-family: Helvetica; font-size: 2.0em; text-shadow: 1px 1px #000000; color: #ffffff; line-height: 1.3; text-transform: lowercase; font-weight: 300;">Playlist info:</span></p> 
   <h1 id="playlistInfo" style="font-family: Helvetica; font-size: 2.0em; text-shadow: 1px 1px #000000; color: #ffffff; line-height: 1.3; text-transform: lowercase; font-weight: 300;">{{playlistInfo}}</h1>


   
   
   
   
   
   
</center> 
<p>&nbsp;</p>
<center><a class="rounded_button" style="text-transform: no-underline;" href="/sign_up">Sign up.</a></center></div>
<p>&nbsp;</p> 
<p>&nbsp;</p>
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<p>&nbsp;</p>
<p>&nbsp;</p> 
<p>&nbsp;</p>
<center><h1><span style="font-family: Helvetica; font-size: 2em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; text-transform: uppercase; font-weight: 300;">Meet Our Team</span></h1></center> 
<p><img src="polar-zack-johnston.png" width="200" style="float:left; padding: 0 10px 5px 0;"><h3><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">Zachary&nbsp;Johnston</span></h3>
<p><em><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">Chief Executive Officer</span></em></p>
<p><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;"> Zachary ("Zack") is a third year electrical engineering student at UC San Diego. Zack grew up in two places—California and Japan—and his worldview is impacted by this cross-cultural upbringing. His love for coffee started when he was three years old, and he's been addicted to caffeine ever since. Zack first sketched the initial design of this product in 2016 after being frustrated by how long it took to wait for iced coffee. He wanted it cold and he wanted it fast. And Polar Coffee was born... at least on a scrap piece of paper.</span></p>
<p>&nbsp;</p>
<p><img src="polar-jesus-fausto.png" width="200" style="float:left; padding: 0 10px 5px 0;"><h3><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">Jesus&nbsp;Fausto</span></h3>
<p><em><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">Chief Financial Officer</span></em></p>
<p><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;"> Jesus, the cofounder of Polar Coffee, studies electrical engineering at UC San Diego. His passion for entrepreneurial engineering and his technological vision equipped him to bring Polar Coffee to life. Jesus has assisted Dr. Jack Silberman in the design of a smart wheelchair.</span></p>
<p>&nbsp;</p>
<p><img src="polar-jesi-miranda.png" width="200" style="float:left; padding: 0 10px 5px 0;"><h3><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">Jesi&nbsp;Miranda</span></h3>
<p><em><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">Chief Technology Officer</span></em></p>
<p><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;"> Jesi is a third year electrical engineering student at UC San Diego. Despite his specialty in power systems, Jesi is a gifted programmer, fluent in LabView, C, Python, and a myraid of other langauges. Under the direction of Dr. Jack Silberman, Jesi helps lead the construction of a smart wheelchair.</span></p>
<p>&nbsp;</p>
<p><img src="polar-john-ho.png" width="200" style="float:left; padding: 0 10px 5px 0;"><h3><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">John&nbsp;Ho</span></h3>
<p><em><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;">Director of Software Development</span></em></p>
<p><span style="font-family: Helvetica; text-shadow: 1px 1px #000000 !important; color: #ffffff;"> John Ho is a third year electrical engineering student at UC San Diego. His past software work revolves around 3D virtual reality character animation, in addition to device to device communications.</span></p>
<p>&nbsp;</p>
<center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
      <th><h1><span style="font-family: Helvetica; font-size: 2em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; text-transform: uppercase; font-weight: 300;">Sign up now for free stuff</span></h1></th>
    </tr>
    <tr>
      <td><h2><span style="font-family: Helvetica; font-size: 1em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; font-weight: 300;">You'll be notified as soon as our product is available. We will need beta testers, and we'll send you our prototype for free.</span></h2><br /><p><center><a class="rounded_button" style="text-transform: no-underline;" href="/sign_up">Sign up.</a></center>
    </tr>
    <tr></tr>
  </table></center>
  <hr>
  <center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
      <th class="pointer"><img id="Bottom" src="/polar-coffee-logo-square-300px.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px";></th>
      <script>
         document.getElementById("Bottom").onclick = function() {
            window.location.href = "http://polarcoffee.org";
         };
      </script>
    </tr>
    <tr>
      <td><em>How you want it, when you want it.</em></td>
    </tr>
    <th>Polar Coffee, Ltd.<br />
      123 Main Street<br />
      Anytown, CA 92336<br />
      Tel (909) 555-5555</th>
    </tr>
  </table></center>
  <hr />
  <p><span style ="color: #ffffff;"> © Polar Coffee 2020. All rights reserved.</span></p>
  </body>
</html>
