<!DOCTYPE html>
<html>
  <style>
    body {
       background-image: url('coffee.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }
    </style>
     <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="css/landing.css">
<script>
  function openSlideMenu(){
    document.getElementById('menu').style.width = '250px';
    document.getElementById('content').style.marginLeft = '250px';
  }
  function closeSlideMenu(){
    document.getElementById('menu').style.width = '0';
    document.getElementById('content').style.marginLeft = '0';
  }
</script>
 
  
<body>
<p class="pointer">
<img id="Polar" src="/polar-coffee-logo-white-400px_tag.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px" padding: 30px;>
</p>
<link rel="stylesheet" type="text/css" href="css/sign_up.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <body>
     <div id="content">

    <span class="slide">
      <a href="#" onclick="openSlideMenu()">
        <i class="fas fa-bars"></i>
      </a>
    </span>

    <div id="menu" class="nav">
      <a href="#" class="close" onclick="closeSlideMenu()">
        <i class="fas fa-times"></i>
      </a>
      <a href="http://polarcoffee.org">Home</a>
      <a href="http://polarcoffee.org/about">About</a>
      <a href="http://polarcoffee.org/features">Features</a>
      <a href="http://polarcoffee.org/pricing">Pricing</a>
      <a href="http://polarcoffee.org/sign_up">Sign Up</a>
      <a href="http://polarcoffee.org/login">Login</a>
      <a href="http://polarcoffee.org/metrics">Metrics</a>
    </div>
  </div>
   </body>  
  

  
  </table></center>

<div class="custom" >
<center> 
<p><span style="font-family: Helvetica; font-size: 4.5em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; text-transform: uppercase; font-weight: 300;">Your order has been submitted!</span></p> 
</center><center> 
<p><span style="font-family: Helvetica; font-size: 2.0em; text-shadow: 1px 1px #000000; color: #ffffff; line-height: 1.3; text-transform: lowercase; font-weight: 300;">your drink will be ready in 10 minutes.</span></p> 
</center>
<p>&nbsp;</p> 
<p>&nbsp;</p>
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<center><a class="rounded_button" style="text-transform: no-underline;" href="http://polarcoffee.org">Return home.</a></center></div>
  <hr>
  <center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
      <th class="pointer"><img id="Bottom" src="/polar-coffee-logo-square-300px.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px";></th>
<script>
document.getElementById("Bottom").onclick = function() {
    window.location.href = "http://polarcoffee.org";
};
  </script>
    </tr>
    <tr>
      <td><em>How you want it, when you want it.</em></td>
    </tr>
    <th>Polar Coffee, Ltd.<br />
      123 Main Street<br />
      Anytown, CA 92336<br />
      Tel (909) 555-5555</th>
    </tr>
  </table></center>
  <hr />
  <p><span style ="color: #000000;"> © Polar Coffee 2020. All rights reserved.</span></p>
  </body>
  </html>
